
body {
	background: url('../img/escheresque_ste.png');
	font-family: 'Roboto Slab', serif;
	color: #999;
}

a {
	
	color:white;
	text-decoration:none;
}

nav a:hover{
	color:#997;
}


h1 {
	background:url("../img/free_highres_texture_15.jpg");
	border-radius:25px;
	font-family: 'Roboto Slab', serif;
	font-size:80px;
	color: #000;
	text-align:center;
	
	

}

h2 {
	font-family: 'Noto Sans', sans-serif;
	float:clear;
	color: #999;
}



ul {
	margin: 0;
	list-style:none;
}


aside {
	text-transform:uppercase;
	float: left;
	background:#999;
	border-radius:20px;
	text-align:center;
	
}










