
body {
	background: url('../img/escheresque_ste.png');
	font-family: 'Roboto Slab', serif;
	color: #999;
}

a {
	color:white;
	text-decoration:none;
}
h1 {
	font-family: 'Merriweather Sans', sans-serif;
	font-size:100px;
	color: #999;
	
	

}

h2 {
	font-family: 'Noto Sans', sans-serif;
	float:clear;
	color: #999;
}






	

article {
	float:left;
}

ul {
	margin: 0;
	list-style:none;
}












